@model List<Film>
@{
    ViewData["Title"] = "Home Page";
}
<table class="table table-stripped">
    <tr>
        <th>Lp</th>
        <th>Tytuł</th>
        <th>Czas</th>
        <th>Data wydania</th>
        <th>Operacje</th>
    </tr>
    @{
        int lp = 0;
    }
    @foreach (var item in Model)
    {
        lp++;
        <tr>
            <td>@lp</td>
            <td>@item.Title</td>
            <td>@item.Time</td>
            <td>@item.Date?.ToShortDateString()</td>
            <td>
                <a class="btn btn-primary" 
                asp-action="update" asp-route-id="@item.Id">Edytuj</a>
                <a class="btn btn-danger" 
                asp-action="delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
    }
</table>
