@page
@model cw6_RazorWithModel.Pages.AddBookModel
@{
}
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row m-2">
        <label asp-for="@Model.MyBook.Title" class="col-3"></label>
        <input asp-for="@Model.MyBook.Title" class="col-6" />
        <span class="text-danger col-3" asp-validation-for="MyBook.Title"></span>
    </div>
    <div class="row m-2">
        <label asp-for="@Model.MyBook.Author" class="col-3"></label>
        <input asp-for="@Model.MyBook.Author" class="col-6" />
        <span class="text-danger col-3" asp-validation-for="MyBook.Author"></span>
    </div>
    <div class="row m-2">
        
        <label asp-for="@Model.MyBook.Date" class="col-3"></label>
        <input asp-for="@Model.MyBook.Date" class="col-6" />
        <span class="text-danger col-3" asp-validation-for="MyBook.Date"></span>
    </div>
    <input type="submit" value="Dodaj" class="btn btn-primary offset-3"/>
</form>

@if(ViewData["post"]!=null){
    <p>Tytuł książki: @Model.MyBook.Title</p>
    <p>Autor książki: @Model.MyBook.Author</p>
    <p>Data wydania książki: @Model.MyBook.Date.ToShortDateString()</p>
}
